* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5e8d0;
  color: #5d5d5d;
  line-height: 1.6;
}

header {
  text-align: center;
  background-color: #489fb5;
  font-size: 24px;
  color: white;
  border-bottom: 3px solid #2c6270;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 10;
  top: 0%;
  min-height: 42px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #3c3c3c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav button {
  background-color: transparent;
  color: white;
  border: none;
  box-shadow: none;
  padding: 14px 16px;
  font-size: 20px;
}

nav a:hover,
button:hover {
  background-color: #489fb5;
  color: white;
}

#home-base {
  padding-top: calc(120px + 2vh);
}

main,
.about-us {
  max-width: 60%;
  margin: 0 auto;
  padding: 40px;
}

section {
  margin-bottom: 40px
}

.map-container {
  width: auto;
  height: auto;
  background-color: #d3d3d3;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 5px;
  padding: 5px;
  min-height: 300px;
  border: black inset 3px;
}

.map-container img {
  max-width: 100%;
  max-height: 100%;
  float: left;
  border: black outset 3px solid;
}

.progress-container {
  display: flex;
  justify-content: space-between;
}

.completed-quests ul,
.active-quests ul {
  list-style: none;
  padding-left: 20px;
}

.made-quests {
  align-items: center;
  display: inline-block;
  margin: 5px;
  background-color: rgba(85, 85, 85, 0.20);
  padding: 5px;
  max-width: 240px;
  max-height: 300px;
  border-color: black;
  border-style: outset;
  border-radius: 10px;
  border-width: 2px;
  overflow-wrap: break-word;
}

.made-quests p {
  overflow-y: auto;
}

.made-quests .delete-quest {
  background-color: #8b3d3f;
}

.made-quests .delete-quest:hover {
  background-color: #db5461;
}

.made-quests .complete-quest {
  background-color: #9db68c;
}

.made-quests .complete-quest:hover {
  background-color: #c9d5bb;
}

.made-quests .abandon-quest {
  background-color: #6e7679;
  display: none;
}

.made-quests .abandon-quest:hover {
  background-color: #8b8b8b;
}

button {
  background-color: #489fb5;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 2px;
}

button:hover {
  background-color: #2c6270;
}

footer {
  background-color: #3c3c3c;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

footer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

footer p {
  font-size: 16px;
  margin-bottom: 10px;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

footer a:hover {
  color: #489fb5;
}